.box {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "width" 100;
}

/* navbar Styles */

.navbar {
    display: flex;
    flex-direction: row;
    gap: 186px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    

}

.nav-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 30px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    font-size: 18px;
}

.nav-button {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 12px;
    padding: 10px;
    font-size: 15px;
}

#nav-home {
    color: orange;
}

#nav-abt {
    color: rgb(66, 167, 207);
}

#nav-fac {
    color: green;
}

#nav-ad {
    color: red;
}


.hamburger {
    width: 30px;
    height: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-left: auto;
}

.hamburger div {
    height: 4px;
    background-color: #333;
    border-radius: 2px;
}

.hamburger {
    display: none;
}

/* banner */

.banner-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.banner-text {
    gap: 24px;
}

.banner-heading {
    font-weight: bold;
    font-size: 56px;
}

#ep {
    color: orange;
}

#visions {
    color: skyblue;
}

.banner-butn {
    background-color: black;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* marquee */
.slide {
    behavior: slide;
    direction: left;
    background-color: skyblue;
    padding: 20px;
    
    color: white;
    font-weight: bold;
}

/* Standard curriculum */

.curriculum {
    background-image: url(assets/bg.png);

    padding-top: 100px;
    margin: 20px 30px;
    padding: 20px 30px;

}

.curriculum-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.curriculum-container {
    display: flex;
    flex-direction: row;
    gap: 28px;
    align-items: center;
    justify-content: space-around;
}

.curriculum-container ul {
    list-style-type: none;
}




.K-Y {
    display: flex;
    flex-direction: column;
    width: 367.8px;
    height: 380.78px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}



.E-S{
    display: flex;
    flex-direction: column;
    width: 367.8px;
    height: 380.78px;
    align-items: center;
    justify-content: center;


    box-sizing: border-box;
    border: 0.94px solid rgb(234, 202, 134);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}



.M-Y {

    display: flex;
    flex-direction: column;
    width: 367.8px;
    height: 380.78px;
    align-items: center;
    justify-content: center;


    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}



.round-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.round {
    width: 40px;
    height: 40px;
    background-color: orange;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* stories */

.all-stories {
    background-image: url(assets/bg.png), linear-gradient(to top, #FFF4DC, white);

    padding-bottom: 60px;

}

.all-stories h2{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

.stories-container {
    width: 100%;
    background-image: url(assets/bg.png), linear-gradient(to top, #FFF4DC, white);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 10px;
    max-width: 100%;
    box-sizing: border-box;
    padding:0px 27px;

}


.stories-button {
    background-color: black;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: auto;

}

.right-stories {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 80px;
}

.story-1 {
    position: relative;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    margin-bottom: 80px;
}

.story-1 h2,
.story-1 p,
.story-2 h2,
.story-2 p,
.story-3 h2,
.story-3 p,
.story-4 h2,
.story-4 p,
.story-5 h2,
.story-5 p {
    padding-left: 20px;
}

.story-1 img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.story-1 button {
    position: absolute;
    left: 20px;
    top: 58%;
    bottom: 45%;
    background-color: rgb(60, 216, 232);
    border: none;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.story-2 {
    position: relative;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
}

.story-2 img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.story-2 button {
    position: absolute;
    left: 20px;
    top: 58%;
    bottom: 40%;
    background-color: rgb(149 178 38);
    border: none;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.story-3 {
    position: relative;
    background-color: rgb(255, 225, 255);
    border: none;
    border-radius: 10px;
}

.story-3 img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.story-3 button {
    position: absolute;
    left: 20px;
    top: 58%;
    bottom: 40%;
    background-color: rgb(93 88 240);
    border: none;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.story-4 {
    position: relative;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
}

.story-4 img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.story-4 button {
    position: absolute;
    left: 20px;
    top: 58%;
    bottom: 40%;
    background-color: rgb(149 178 38);
    border: none;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.story-5 {
    position: relative;
    background-color:rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
}

.story-5 img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.story-5 button {
    position: absolute;
    left: 20px;
    top: 58%;
    bottom: 40%;
    background-color: rgb(149 178 38);
    border: none;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* small device */

@media screen and (max-width:576px) {

    body {
        overflow-x: hidden;
    }

    .navbar p,
    .nav-menu,
    .nav-button {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .navbar {
        border: 1px solid orange;
        margin: 0px;
    }
    
    /* banner */
    .banner-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .banner-image {
        order: -1;
    }

    .banner-text {
        margin-top: 20px;
    }

    .banner-butn {
        display: block;
        margin: 20px auto 0;
    }

    /* Curriculum */
    .curriculum-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .round-button {
        display: none;
    }

    .curriculum {
        text-align: center;
    }
 
    /* Stories */
    .stories-container {
        width: 100%;
    }
    .story-1 {
        display: none;
    }
    .story-2{
        position: relative;
    }

    .story-2 button {
        position: absolute;
        top: 40%;
        bottom: 65%;
    }
  
    .story-3{
        position: relative;
    }

    .story-3 button {
        position: absolute;
        top: 40%;
        bottom: 65%;
    }
  

    .story-4{
        position: relative;
    }

    .story-4 button {
        position: absolute;
        top: 40%;
        bottom: 65%;
    }
  
    .story-5{
        position: relative;
    }

    .story-5 button {
        position: absolute;
        top: 40%;
        bottom:65%;
    }

    .stories-container {
        width: 100%;
        padding: 0;
        margin: 0;

        display: flex;
        flex-direction: column;

        box-sizing: border-box;

        background-image: url(assets/bg.png), linear-gradient(to top,#FFF4DC, white);
    
    }

    .right-stories {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        gap: 15px;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .right-stories>div {
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
    }

    .right-stories img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .right-stories h2,
    .right-stories p {
        padding: 10px;
        margin: 0;
        font-size: 14px;
    }

    .right-stories {
        margin-bottom: 20px;
    }


    .right-stories button {
        padding: 13px 10px;
        font-size: 12px;
    }

    .all-stories {
        width: 100%;
        padding: 0 15px 50px 15px;
        box-sizing: border-box;
    }


}